
.box.col-sm-8 {
    position: absolute;
    left: 20%;
    background: cadetblue;
    /* width: 91%; */
    font-family: monospace;
    padding-left: 30px;
    padding-bottom: 10px;
    /* padding: 20px; */
}




.box.col-sm-8 {
    position: absolute;
    left: 20%;
    background: cadetblue;
    /* width: 91%; */
    font-family: monospace;
    padding-left: 30px;
    padding-bottom: 10px;
    /* padding: 20px; */
}

.header {}

.content {
    /* border: 1px solid; */
    width: 95%;
    color: white;
}

input.btn-warning {
    color: white;
}
.box.col-sm-9 {
    position: absolute;
    left: 14%;
    /*background: #07585a;*/
    font-family: monospace;
    padding-left: 12%;
    padding-bottom: 1%;
    background: #0a3d62;  /* fallback for old browsers */


}

.header {
    /* background: red; */
    width: 85%;
    margin-bottom: 1%;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
}
.textbox{
    width: 100%;
}
.header {}

.content {
    /* border: 1px solid; */
    width: 85%;
    color: white;
}

input.btn-warning {
    color: white;
    cursor: pointer;
}
