body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
h4{
    color: white;
    letter-spacing: 2px;
}
button.btn-template{

    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 2%;
}
.btn-group{
    position: absolute;
    right: 3%;
}
.login{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-right: 10%;
    margin-top: 9%;

}
.dropdown {
    position: absolute;
    top: 5%;
    right: 1.2%;
}
.login a{
    text-decoration: none;
    color: black;
}
.container{
    position: relative;
    width: 100%;
    height: 800px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.col-left,.col-right{

    transition: 0.5s;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid white;
    height: 700px;
    z-index:2;

}
.col-left{
    animation-name: animation-col-left;
    animation-duration: 1s;
    transition: 1s;

}
.col-right{
    animation-name: animation-col-right;
    animation-duration: 1s;
    transition: 1s;
}
@keyframes animation-col-right {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes animation-col-left  {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.template{
    margin-bottom: 3%;
}
.top-left{
    position: relative;
    margin-left: 3%;
    border:3px solid #273c75;
    width: 90%;
    height: 45%;
    background: whitesmoke;

}
.bottom-left{

    margin-left: 3%;
    height: 45%;
    width: 90%;
    border: 3px solid #273c75;
    background: whitesmoke;
}


.top-left ul:hover{
    transition: 1s;
    animation-name: animation-ul;
    animation-duration: 1s;

}

.top-left ul li{

    text-align: left;
    list-style: none;
    border-bottom: 1px solid white;

}
.top-left ul li:hover{
    transform: scale(1.1);
    border-bottom: 1px solid #079992;

}
.text-head{
    position: relative;
    text-align: center;
    width: 100%;
    background: #2C5364;
    color: white;
}

.text-box{
    position: relative;
    height: 210px;

}
.outcome{
    height: 200px;
}
.teaching{
    height: 180px;
}
.cke_toolbar {
    zoom: 0.8;
}
.after-click{
    border-top: 1px solid white;
    height: 100px;
    width: 100%;

}
.outcome{
    position: relative;

}
.teaching{
    position: relative;
}
.out-text,.teach-text{
    display: none;
    resize: none;
    width: 100%;
    height: 150px;
}
.outcome-textarea,.teach-textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    display: block;
    outline: none;

}
.outcome span i, .teaching span i{

    float: right;
    margin-right: 10px;
    transition: 0.2s;

}
.outcome span i:hover, .teaching span i:hover{
    transform: scaleX(1.5);
    color: #1b4b72;

}
.display-text{
    visibility: visible;
}
.levels{
    position: absolute;
    font-size: small;
    top: 21%;
    left: 20%;
    height: 45%;
    width: 40%;
    color: white;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #17a2b8;  /* fallback for old browsers */

}
ul li a{

    width: auto;
    cursor: pointer;
}
select option{
    cursor: pointer;
}
.template2TextOutCome{
    transition: 0.5s;
    transform: translateY(-180px);
    height: 100px;

}
.listMethod-3{
    width: 180px !important;
}
.listMethod-2{
    width: 200px !important;
}

.copy-print{
    position: absolute;
    top: 101%;
    left:27%;
}
.save{
    position: absolute;
    top: 101%;
    left: 3%;


}
input.btn-light{
    position: relative;
    top: 5px;
}

.box-copy{
    position: absolute;
    transition: 0.5s;
    width: 500px;
    height: 600px;
    background: white;
    border: 1px solid;
    top: 15%;
    left: 33%;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.box-save{
    position: absolute;
    transition: 0.5s;
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid;
    top: 15%;
    left: 36%;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.bg-cover{
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0F2027;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

}
.show-bg-cover{
    opacity: 0.7;
    visibility: visible;
}
.show-box-copy{
    opacity: 1;
    visibility: visible;

}
.copy-head{
    color: white;
    height: 30px;
    line-height: 30px;
}
.copy-result{
    margin-top: 20px;
    margin-left: 7%;
    width: 86%;
    height: 80%;
    border: 1px solid;
    overflow: auto;
}

.copy-ilo{

    margin-bottom: 30%;
}
.copy-oba{
    margin-bottom: 30%;
}
.text-copy-ilo,.text-copy-oba,.text-copy-tla{
    margin-top: -15px;

}
.bg-danger{
    color: white;
}
.bg-success{
    color: white;
}
#close{
    position: absolute;
    top: 1%;
    left: 90%;
}
#close:hover{
    cursor: pointer;

}

#listMethod{
    font-size: 11px;
    color: #007bff;
    width: 120px;
}
.moveExample{
    margin-top:50%;
}
.moveExampleTLA{
    margin-top:62%;
}
.btn1{
   /* background-color: #273c75;*/
    background-color: #17a2b8;
    color: white;
    transform: scale(1.1);
}
.btn2{
    background-color: #17a2b8;
    color: white;
    transform: scale(1.1);
}
.btn3{
   /* background-color: rgb(32, 201, 151);*/
    background-color: #17a2b8;
    color: white;
    transform: scale(1.1);
}
.descLevel{
    position: absolute;
    height: 20%;
    top: 80%;

}
#descExample{

    font-size: 11px;
}
.left-bottom{
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
}
.example{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    overflow: hidden;
}

#example{
    font-size: 13px;
    margin-bottom: 0;
    font-size: 13px;
}
.bottom-left{
    position: relative;
}
.left-bottom{
    position: absolute;
    top: 0;
    left: 0;
}
.title-bottom #title{
    font-size: 13px;
    width: 93%;
    margin-bottom: 2%;
}
.title-bottom{
    height: 30%;
}
#listExample{

    font-size: 11px;
    line-height: 15px;
}
.title-top{
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
}
.method{
    position: absolute;
    height: 70%;
    width: 100%;
    top: 45%;
}
.form-group{
    position: relative;
    left: 41%;
}
.language{
    position: absolute;
    bottom: 0.5%;
    left: 36%;

}
.language a{
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;

}
.head-outcome{
    border-bottom: 1px solid white;
}
.tutorial a {
    padding: 4px;
    /* margin-top: 10px; */
    text-decoration: none;
}

.tutorial {
    position: absolute;
    top: 102.2%;
    left: 12%;
}
@media  screen and (max-width: 991px) {

    .method{
        margin-top: 10px;
    }
    #title{
        font-size: 10px ;
    }
    #desTitle{
        font-size: 9px;
        margin-bottom: 10px;
    }
    #example{
        font-size: 10px !important;
    }
    #descExample{
        margin-top: 2%;
        font-size: 9px ;
    }
    #listExample{
        position: relative;
        margin-top: -10%;
        left: -20%;
        font-size: 8px !important;

    }
    .levels{
        width: 55% !important;
    }
    #descriptionLevel{
        font-size: 9px !important;
    }
    .box-copy{
        width: 349px;
        height: 472px;
        left: 15%;
    }
    .tutorial{
        transform: scale(0.8);
        position: absolute;
        top: 102.2%;
        left: 13%;

    }
    .copy-print{
        position: absolute;
        top: 101%;
        left:30%;
    }
    input[type="submit"]{
        transform: scale(0.8);

    }
    .teaching{
        height: 150px;
    }
}
@media screen and (max-width:767px){
    .template{
        margin-left: 0;
    }
    .example{

    }
    #listExample{
        font-size: 9px !important;
        line-height: 8px;
    }
    #descExample{

    }
    #listMethod{
        transform: scale(0.8);
        width: 80%;
    }
    .levels{
        width: 75% !important;
        top: 23%;
        left: 10%;
    }
    .title-top .text-primary{
        font-size: 11px;
    }

    #descriptionTemplate{
        font-size: 10px;
    }
    .text-head{
        height: 10%;
    }


}
@media screen and (max-width:767px) {

}
